.chat-box {
  padding: 15px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 400px;
  display: flex;
  flex-direction: column;
}

.message {
  margin: 8px 0;
  padding: 10px 14px;
  border-radius: 8px;
  line-height: 1.4;
  max-width: 80%;
}

.user-message {
  background: #daf1da;
  align-self: flex-end;
}

.bot-message {
  background: #f1f0f0;
  align-self: flex-start;
}
